<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Advent of Code</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/">
                <span aria-hidden="true"></span>   Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Day1">
                <span aria-hidden="true"></span>   Day 1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Day2">
                <span aria-hidden="true"></span>   Day 2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Day3">
                <span aria-hidden="true"></span>   Day 3
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Day4">
                <span aria-hidden="true"></span>   Day 4
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Day5">
                <span aria-hidden="true"></span>   Day 5
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Day6">
                <span aria-hidden="true"></span>   Day 6
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Day7">
                <span aria-hidden="true"></span>   Day 7
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Day8">
                <span aria-hidden="true"></span>   Day 8
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Day10">
                <span aria-hidden="true"></span>   Day 10
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
